<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
	<style type="text/css">
		body { background-color: #031e51; }
		#main { margin: 10px 25px; background-color: White; padding: 25px; }
	</style>
</head>
<body>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>
